@use '@helpers' as *;

.portfolio {
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 15px;
  }

  &__link {
    aspect-ratio: 280 / 280;

    @include hover {
      filter: grayscale(90%);
    }
  }
}
