@use "../config/functions" as *;
@use "../config/mixins" as *;

.resume {
    &__header {
        &:not(:last-child) {
            @include adaptive-clamp("margin-bottom", 50, 20);
        }
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @include adaptive-clamp("padding-left", 40, 20);
        @include adaptive-clamp("padding-right", 40, 20);
        @include adaptive-clamp("column-gap", 100, 50);
        @include adaptive-clamp("row-gap", 50, 20);
        @media (max-width: em(1000)){
            padding-right: rem(0);
            padding-left: rem(0);
        }
        @media (max-width: em(767.98)){
            grid-template-columns: auto;
        }
    }
    &__title {
        font-weight: 700;
        font-size: rem(20);
        line-height: 1.5;
        padding-left: rem(35);
        position: relative;
        &::before{
            position: absolute;
            content:'';
            top: 50%;
            left: -7px;
            transform: translateY(-50%);
            height: rem(15);
            width: rem(15);
            border-radius: 100%;
            background-color: var(--second-color);
        }
    }
    &__li {
        position: relative;
        &::after{
            content:'';
            position: absolute;
            width: 1px;
            height: calc(100% + 7px);
            top: -7px;
            left: 0;
            background-color: #000;
        }
    }
}
.item-resume {
    position: relative;
    &::before{
        content:'';
        position: absolute;
        width: 44px;
        height: 1px;
        top: 73px;
        left: 0;
        background-color: #000;
    }
    &__head {
        position: relative;
        padding-top: rem(45);
        padding-left: rem(100);
        &:not(:last-child) {
            margin-bottom: rem(12);
        }
    }
    &__icon {
        position: absolute;
        top: 55px;
        left: 45px;
        &:before {
            content: '';
            position: absolute;
            z-index: -1;
            top: -25%;
            left: 0;
            width: rem(36);
            height: rem(36);
            border-radius: 100%;
            background: var(--second-color);
        }
    }
    &__img {
        position: absolute;
        left: 17px;
        top: 14px;
        max-width: rem(25);
    }
    &__title {
        font-weight: 700;
        line-height: 1.5; 
        &:not(:last-child) {
            margin-bottom: rem(5);
        }
    }
    &__subtitle {
        line-height: 1.5;
    }
    &__body {
        padding-left: rem(43);
        line-height: 1.5;
    }
}

.hover-image {
    cursor: pointer;
    position: relative;
    img {
        opacity: 0;
        position: absolute;
        z-index: 2;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 280px;
        transition: opacity 0.3s ease-in-out;
        @media (any-hover: hover){
            &:hover{
                opacity: 1;
            }
        }
    }
}

