//====================================================================================================
.page {

    &__hero {
    }
    &__about {
    }
    &__resume {
    }
    &__skills {
    }
    &__portfolio {
    }
}
//====================================================================================================
@mixin before_circle {
    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        top: -25%;
        left: 0;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background: $main-color;
    }
}
//====================================================================================================
.header-block {
    &__center {
        text-align: center;
        .header-block__line {
            margin: 0 auto;
        }
        .header-block__subtitle {
            &::before{
                top: toRem(-9);
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    &__subtitle {
        font-weight: 700;
        font-size: toRem(16);
        &:not(:last-child) {
            margin-bottom: toRem(10);
        }
        position: relative;
        &:before {
            content: '';
            position: absolute;
            z-index: -1;
            top: -25%;
            left: 0;
            width: toRem(36);
            height: toRem(36);
            border-radius: 100%;
            background: $secondColor;
        }
    }
    &__title {
        font-weight: 700;
        @include adaptiveValue("font-size", 36, 24);
        line-height: 167%;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 25, 12);
        }
    }
    &__title-zero {
        &:not(:last-child) {
            margin-bottom: toRem(0);
        }   
    }
    &__line {
        height: toRem(3);
        width: toRem(60);
        background-color: $secondColor;
    }
}
//====================================================================================================

//====================================================================================================

//====================================================================================================

//====================================================================================================

//====================================================================================================