.about {
    @include adaptiveValue("padding-top", 120, 40);
    &__container {
    }

    &__wrapper {
        display: flex;
        @include adaptiveValue("column-gap", 70, 20);
        @media (max-width: toEm(700)){
            flex-direction: column-reverse;
            row-gap: toRem(20);
        }
    }

    &__image {
        flex: 0 1 40%;
        aspect-ratio: 400 / 600;
        display: block; 
        position: relative;
    }
    &__img {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;      
    }

    &__descr {
        flex: 0 1 60%;
        padding-top: toRem(6);
    }

    &__header {
        &:not(:last-child) {
            margin-bottom: toRem(25);
        }
    }

    &__subtitle {
        padding-left: toRem(12);
        padding-top: toRem(3);
    }

    &__text {
    }

    &__skills {
    }
}
